

<table>
    <colgroup>
      <col *ngFor="let columnWidth of columnWidths" [style.width.px]="columnWidth">
  </colgroup>
  <thead>
    <tr>
      <ng-container *ngFor="let key of keys; let c = index;">
          <th>
          {{key}}
          <span class="sort"></span>
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items; let r = index">
      <ng-container *ngFor="let key of keys; let c = index">
        <td [class.active]="((selectionStartRow <= r && r <= selectionEndRow) || (selectionStartRow >= r && r >= selectionEndRow)) && ((selectionStartCol <= c && c <= selectionEndCol) || (selectionStartCol >= c && c >= selectionEndCol)) && focused" 
          (mousedown)="onMousedown(r,c)"
          (mousemove)="onMousemove(r,c)"
          (mouseup)="onMouseup(r,c)">
          {{ item[key] }}
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<div class="selection" *ngIf="focused"
    [style.left.px]="selectionOffsetX"
    [style.top.px]="selectionOffsetY"
    [style.width.px]="selectionWidth"
    [style.height.px]="selectionHeight"
>
</div>
<div class="btn-predictive" *ngIf="focused"
    [style.left.px]="predictiveX"
    [style.top.px]="predictiveY">
</div>